/* ---------- General Rules */

.float-right {
    float: right;
}

/* ---------- Nav */

/* ---------- Hero img and content */

.default-bg-img {
    background: url(https://images.unsplash.com/photo-1516139008210-96e45dccd83b?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880);
    background-size: cover;
    background-position: center;
    background-position-y: bottom;
    width: 100%;
}

.hero {
    width: 100%;
    height: calc(80vh - 25px);
}

.hero-body {
    margin: auto;
}

.hero h2 {
    margin-top: 0;
}

/* ---------- Welcome Info */

.nfo-btn {
    height: 5rem;
    width: 100%;
    margin: 1.5rem 0;
    line-height: normal;
}

/* .nfo-btn-title {

} */

.nfo-btn-info {
    font-size: 0.7em;
    line-height: normal;
}

/* ---------- Rent Info */

#rent-intro {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: xx-large;
    padding: 2rem 0;
}

#rent-intro > div {
    margin: 2rem 0;
}

#rent-intro > div > div {
    padding: 1rem 0;
}

#rent-intro > div > div:not(.arrow) > i {
    font-size: 150%;
}

/* ---------- About */

#map {
    padding: 2rem 0;
}

#map > iframe {
    height: 50vh;
    width: 100%;
}

/* ---------- Property Browser */

.card .card-image img {
    height: 40vh;
    object-fit: cover;
}

#pagination {
    background-color: unset;
}

#pagination > ul {
    display: inline-block;
    text-align: center;
}

/* ---------- Footer */
#social-media-links > a {
    padding: 0 0 0 2rem;
    font-size: 180%;
}

footer a {
    color: #fafafa;
}

/* ---------- Media Queries */

/* ---------- Medium */
@media screen and (min-width: 601px) {

    /* ---------- Rent Info */
    
    .arrow {
        transform: rotate(-30deg);
    }
}

/* ---------- Large */
@media screen and (min-width: 992px) {
    
    /* ---------- Nav */
    
    nav > .nav-wrapper > .brand-logo.center {
        left: initial;
        transform: initial;
    }
    
    nav > .nav-wrapper > #nav-mobile {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    /* ---------- Rent Info */
    .arrow {
        transform: rotate(-90deg);
        line-height: 100%;
    }
}
