{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a27400ecfe.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Pro Agents - Welcome</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{% url 'home' %}" class="brand-logo center">Pro Agents</a>
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'properties' %}">To Rent</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            <li><a href="{% url 'home' %}">Home page</a></li>
            <li><a href="{% url 'properties' %}">To Rent</a></li>
        </ul>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="page-footer">
            <div class="container">
                <div class="row">
                    Social Media, Contacts
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col s12 l4 offset-l4">
                            © 2022 Pro Agents (allegedly)
                        </div>
                        <a class="col s12 l4 grey-text text-lighten-3 right" href="">More Links</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'scripts/script.js' %}"></script>
</body>
</html>