{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a27400ecfe.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Pro Agents - Welcome</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{% url 'home' %}" class="brand-logo center">Pro Agents</a>
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'properties' %}">To Rent</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only"><i class="material-icons">menu</i></a>
                <ul class="float-right hide-on-med-and-down">
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}" class="float-right hide-on-med-and-down">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            {% if user.is_authenticated %}
                <li>
                    <div class="user-view">
                        <i class="fas fa-user"></i>
                        <span>{{ user.username }}</span>
                    </div>
                </li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
            <li><a href="{% url 'home' %}">Home page</a></li>
            <li><a href="{% url 'properties' %}">To Rent</a></li>
        </ul>
    </header>
    <main>
        {% if messages %}
            {% for message in messages%}
            <div class="card-panel center">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="page-footer">
            <div class="container">
                <div class="row valign-wrapper">
                    <div id="social-media-links" class="col s6 valign-wrapper">
                        <span>Find us on:</span>
                        <a href="https://www.facebook.com/" aria-label="Link to Facebook" target='_blank'><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com/" aria-label="Link to Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                    </div>
                    <div class="col s6">
                        <span>Contact us directly on:</span>
                        <address>
                            <div>
                                <span>Email:</span>
                                <a href="mailto:owner@pro-letting.none">owner@pro-letting.none</a></div>
                            <div>
                                <span>Phone:</span>
                                <a href="tel:+445555987654">+445555 987 654</a></div>
                            <div>
                                <span>Address:</span>
                                <span>123 Street Road, Town, UK</span>
                            </div>
                        </address>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col s12 l4 offset-l4">
                            © 2022 Pro Agents (allegedly)
                        </div>
                        <a class="col s12 l4 grey-text text-lighten-3 right" href="https://uk.trustpilot.com/" aria-label="Link to trustpilot." target="_blank">
                            See what other people say about us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'scripts/script.js' %}"></script>
</body>
</html>