{% extends "base.html" %}

{% block content %}

<div class="hero default-bg-img valign-wrapper">
    <div class="hero-body">
        <div class="container center">
            <h2>
                {{ hero_title }}
            </h2>
            <button class="btn-large">
                Browse Properties
            </button>
        </div>
    </div>
</div>

<div id="welcome-nfo" class="center">
    <h1>
        Welcome to Pro Agents
    </h1>
    <div class="container">
        <div class="row">
            <div class="col s12 m5">
                <button class="nfo-btn btn">
                    <div class="nfo-btn-title">
                        Are you looking to rent?
                    </div>
                    <span class="nfo-btn-info">Click to see how</span>
                </button>
            </div>
            <div class="col s12 m5 offset-m2">
                <button class="nfo-btn btn">
                    <div class="nfo-btn-title">
                        Are you a landlord?
                    </div>
                    <span class="nfo-btn-info">Let us help with your lettings</span>
                </button>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}