{% extends "base.html" %}

{% block content %}

<section class="hero default-bg-img valign-wrapper">
    <div class="hero-body">
        <div class="container center">
            <h2>
                {{ hero_title }}
            </h2>
            <a href="{% url 'properties' %}">
                <button class="btn-large">Browse Properties</button>
            </a>
        </div>
    </div>
</section>

<section id="welcome-nfo" class="center">
    <h1>
        Welcome to Pro Agents
    </h1>
    <div class="container">
        <div class="row">
            <div class="col s12 m5">
                <button id="rent-intro-toggle" class="nfo-btn btn">
                    <div class="nfo-btn-title">
                        Are you looking to rent?
                    </div>
                    <span class="nfo-btn-info">Click to see how</span>
                </button>
            </div>
            <div class="col s12 m5 offset-m2">
                <button class="nfo-btn btn">
                    <div class="nfo-btn-title">
                        Are you a landlord?
                    </div>
                    <span class="nfo-btn-info">Let us help with your lettings</span>
                </button>
            </div>
            
        </div>
    </div>
</section>

<section id="rent-intro" class="teal lighten-4 text-grey hide">
    <div class="row center">
        <div class="col s12 m9 l2">
            <i class="fas fa-house-user"></i>
            <span>Find a property you like</span>
        </div>
        <div class="arrow col s12 m9 l1">
            <i class="fas fa-long-arrow-alt-down"></i>
        </div>
        <div class="col s12 m9 l2 offset-m1">
            <i class="fas fa-hand-point-right"></i>
            <span>Click on request viewing</span>
        </div>
        <div class="arrow col s12 m9 l1 offset-m1">
            <i class="fas fa-long-arrow-alt-down"></i>
        </div>
        <div class="col s12 m9 l2 offset-m2">
            <i class="fab fa-wpforms"></i>
            <span>Fill out the form with your details</span>
        </div>
        <div class="arrow col s12 m9 l1 offset-m2">
            <i class="fas fa-long-arrow-alt-down"></i>
        </div>
        <div class="col s12 m9 l2 offset-m3">
            <i class="fas fa-comments"></i>
            <span>We will contact you ASAP</span>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <a href="{% url 'properties' %}">
                <button class="btn">Browse Properties</button>
            </a>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 offset-m1 l5">
                <h2 class="center">
                    About Us
                </h2>
                <p>
                    Our company was established in 2022 in Town-Small, one of the most desired places to live in the United Kingdom. We helped hundreds of families to find their perfect homes and landlords find their perfect tenants.
                </p>
                <p>
                    Our dedicated and experienced team ensures that the very best advice and support are provided to our customers at all times.
                </p>
            </div>
            <div id="map" class="col s12 l6 offset-l1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2425.5962369301014!2d-6.592976269914144!3d53.381421497096554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486771accc3d42fd%3A0xda677ed3c15c2911!2sAesthete!5e1!3m2!1sen!2suk!4v1652986939554!5m2!1sen!2suk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>

{% endblock %}