{% extends "base.html" %}
{% block content %}

<section id="properties">
    <div class="row">
        {% for property in properties %}
        <div class="property-card col s12 m10 offset-m1 l4">
            <div class="card">
                <div class="card-image default-bg-img">
                    <img src="{{ property.main_img.url }}">
                </div>
                <div class="card-content">
                    <h4 class="black-text">
                        {{ property.name }}
                    </h4>
                    <p class="truncate">
                        {{ property.description }}
                    </p>
                    <p>Listed on {{ property.list_date|date:"M d, Y"}}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'viewing' property.pk %}">
                        Book a viewing
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<nav id="pagination" class="center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
        <li><i class="material-icons grey-text">chevron_left</i></li>
        {% endif %}
        {% for page in paginator.page_range %}
            {% if page == paginator.current_page %}
            <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
            {% else %}
            <li ><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
        <li><i class="material-icons">chevron_right</i></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}